<div class="page-main-canvas">
  <div class="page-noise-layer">
    <div class="page-noise-redundant-layer">
      <div class="row">
        <div class="col-12 col-md-3" style="padding: 0">
          <div class="note-title-wrapper-header">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            <span>Back</span>
          </div>
          <div class="note-title-wrapper">
            <div class="note-main-title">
              TABLE OF CONTENTS
            </div>
          </div>
        </div>
        <div class="col-12 col-md-9" style="padding: 0">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
