<div class="note-title-wrapper-header">
  <i class="fa fa-chevron-left" aria-hidden="true"></i>
  <p><span routerLink="/home">Notes</span> / CSS / CCS3 vs SCSS</p>
</div>
<div class="container">
  <div class="note-content">
    <div class="banner">
      <img src="assets/images/css/css%20vs%20scss.png" alt="css vs scss">
    </div>
    <div id="CSS Variables: Empowering.." class="section">
      <h1>CSS Variables: Empowering Styles with --var</h1>
      <p class="note-tags"><span><strong>Tended:</strong> Dec 2023</span> <span><strong>Status:</strong> Seed</span>
      </p>
    </div>

    <div id="Introduction:" class="section">
      <h2>Introduction:</h2>
      <p>CSS variables, officially known as Custom Properties and commonly referred to as <span
        class="realistic-marker-highlight">--var</span>, have revolutionized the
        way styles are managed and applied in web development. Introduced in CSS3, these variables bring a new level of
        flexibility and maintainability to stylesheets. In this article, we'll delve deep into the world of CSS
        variables, exploring their syntax, applications, and the advantages they offer.</p>
    </div>

    <div id="1. Defining CSS Variables" class="section">
      <h2>Defining CSS Variables</h2>
      <p>A CSS variable is defined using the <strong>`--`</strong> prefix followed by a user-defined name. For instance:
      </p>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            CSS
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="comment">/* Basic CSS3 Styles */</span><br>
          <span>body &lcub;</span><br>
          &nbsp;&nbsp;&nbsp;<span class="display">font-family</span>: <span
          class="display">"Helvetica Neue"</span><span>, Helvetica, Arial, sans-serif;</span><br>
          &nbsp;&nbsp;&nbsp;<span class="display">background-color</span>: <span class="initializer">#f0f0f0</span>;<br>
          <span>&rcub;</span><br><br>
          <span class="comment">/* Media Query in CSS3 */</span><br>
          <span class="keyword">@media </span>screen <span class="keyword">and </span>(<span
          class="display">min-width</span>: <span class="initializer">768px</span>)<span>&lcub;</span><br>
          &nbsp;&nbsp;&nbsp;<span>body &lcub;</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="display">font-size</span>: <span
          class="initializer">16px</span>;<br>
          &nbsp;&nbsp;&nbsp;<span>&rcub;</span><br>
          <span>&rcub;</span><br>
        </div>
      </div>
      <p>Here, <span class="circle-sketch-highlight">--primary-color</span> and <span class="circle-sketch-highlight">--font-size</span>
        are user-defined variables.</p>
    </div>

    <div id="2. Using CSS Variables.." class="section">
      <h2>Using CSS Variables in Styles</h2>
      <p>Once defined, CSS variables can be utilized throughout the stylesheet, enabling dynamic and centralized control
        over style properties. To use a variable, use the <span class="realistic-marker-highlight">var()</span>
        function:</p>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            SCSS
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="comment">/* Basic SCSS Styles */</span><br>
          <span class="initializer">$body-font</span>: <span class="display">"Helvetica Neue"</span>, sans-serif;<br>
          <span class="initializer">$body-bg</span>: <span class="initializer">#f0f0f0</span>;<br><br>
          <span>body &lcub;</span><br>
          &nbsp;&nbsp;&nbsp;<span class="display">font-family</span>: <span class="initializer">$body-font</span>;<br>
          &nbsp;&nbsp;&nbsp;<span class="display">background-color</span>: <span
          class="initializer">$body-bg</span>;<br><br>
          &nbsp;&nbsp;&nbsp;<span class="comment">/* Nesting in SCSS */</span><br>
          &nbsp;&nbsp;&nbsp;<span class="keyword">@media </span>screen <span class="keyword">and </span>(<span
          class="display">min-width</span>: <span class="initializer">768px</span>)&lcub;<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="display">font-size</span>: <span
          class="initializer">16px</span>;<br>
          &nbsp;&nbsp;&nbsp;<span>&rcub;</span><br>
          <span>&rcub;</span><br>
        </div>
      </div>
    </div>

    <div id="3. Advantages of CSS.." class="section">
      <h2>Advantages of CSS Variables</h2>
    </div>

    <div id="‎ ‎ ➥ Dynamic Theming" class="section">
      <h3>1. Dynamic Theming</h3>
      <p>CSS variables shine in dynamic theming scenarios. By changing variable values dynamically, you can instantly
        alter the entire color scheme or other stylistic elements across your application.</p>
      <!--      -->
      <p>By applying the <span class="circle-sketch-highlight">.dark-theme</span> class to an element, the primary color
        shifts across the entire application.</p>
    </div>

    <div id="‎ ‎ ➥ Easy Maintenance" class="section">
      <h3>2. Easy Maintenance</h3>
      <p>CSS variables promote easy maintenance by centralizing key values. If you need to modify a common property like
        font size, you can do so at the root level, instantly updating it everywhere it's used.</p>
      <!--      -->
      <p>Adjusting the <span class="circle-sketch-highlight">--font-size</span> variable automatically cascades changes
        to all elements using it.</p>
    </div>

    <div id="‎ ‎ ➥ Conditional Styling" class="section">
      <h3>3. Conditional Styling</h3>
      <p>CSS variables open the door to conditional styling without requiring complex CSS preprocessors or frameworks.
        You can create styles that adapt based on user preferences, states, or other conditions.</p>
      <!--      -->
      <p>Activating the <span class="circle-sketch-highlight">.dark-mode</span> class instantly adjusts the text color
        across the application.</p>
    </div>

    <div id="‎ ‎ ➥ Simplified Theming.." class="section">
      <h3>4. Simplified Theming in Frameworks</h3>
      <p>When working with CSS frameworks like Bootstrap or Tailwind CSS, customizing themes can be intricate. CSS
        variables simplify this process by providing a standardized way to override default styles.</p>
      <!--      -->
      <p>Customizing the theme becomes a matter of adjusting a few variable values.</p>
    </div>

    <div id="Conclusion:" class="section">
      <h2>Conclusion</h2>
      <p>CSS variables, denoted by the <span class="circle-sketch-highlight">--var</span> syntax, bring a new dimension to styling in web development. Their ability
        to dynamically adapt styles, simplify maintenance, enable conditional styling, and streamline theming makes them
        a powerful tool for developers. As the web development landscape continues to evolve, CSS variables stand as a
        testament to the ongoing effort to enhance the flexibility and expressiveness of Cascading Style Sheets.
        Incorporating these variables into your projects can significantly improve the maintainability and adaptability
        of your styles, contributing to a more efficient and robust development workflow.</p>
    </div>
  </div>

  <app-support></app-support>

</div>
