<div class="about-wrapper">
  <div class="row">
    <div class="col-12 col-md-3 d-none d-md-block">
      <div class="about-nav">
        <div class="table-header">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          <span routerLink="/home">&nbsp;Back</span>
        </div>
        <div class="nav-wrapper">
          <h4>TABLE OF CONTENTS</h4>
          <ul>
            <li><a href="#section1">What is a Digital Garden</a></li>
            <li><a href="#section2">About this Garden</a></li>
            <li><a href="#section3">About the Author</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-9">
      <div class="about-content">
        <div class="table-header">
          <span routerLink="/home">Note</span> / About
        </div>
        <div class="about-content-wrapper">

          <img src="./assets/images/about/about-banner.png" alt="kavi castelo digital garden">
          <div id="section1" style="border-bottom: 2px solid #d6c8ab">
            <h2>What is a Digital Garden</h2>
            <p>A digital garden is a term used to describe a personal knowledge management system or a platform where
              individuals can share and cultivate their thoughts, ideas, and learning in a dynamic and interconnected
              way. It's often presented as a collection of notes, articles, and other content that are interconnected
              through hyperlinks, creating a non-linear and evolving structure.</p>
            <p>Qualities of a digital garden may include:</p>
            <ul>
              <li><strong>Interconnectedness:</strong> Content in a digital garden is often linked together, creating a
                web of connections between ideas. This allows users to explore related topics and follow the flow of
                thoughts.
              </li>
              <li><strong>Non-linearity:</strong> Unlike traditional blogs or websites that follow a linear structure,
                digital gardens are more fluid and non-linear. Readers can navigate through the content in a way that
                suits their interests and curiosity.
              </li>
              <li><strong>Evergreen Content:</strong> The content in a digital garden is designed to be evergreen,
                meaning that it remains relevant and valuable over time. Updates and revisions can occur to reflect
                changes in thinking or new insights.
              </li>
              <li><strong>Incremental Growth:</strong> Digital gardens are often built over time, with incremental
                additions and updates. Users can continuously expand and refine their ideas, creating a living document
                of their knowledge and insights.
              </li>
              <li><strong>Personal Reflection:</strong> Digital gardens often serve as a reflection of the creator's
                personal learning journey and thought process. It can be a space for documenting insights, asking
                questions, and capturing the evolution of one's thinking.
              </li>
              <li><strong>Open to Collaboration:</strong> Some digital gardens allow for collaboration, enabling
                multiple contributors to add to the shared knowledge base. This collaborative aspect can foster a
                community of learners and thinkers.
              </li>
              <li><strong>Minimalist Design: </strong>Digital gardens often have a simple and minimalist design,
                focusing on the content rather than flashy graphics or complex layouts. This helps in maintaining a
                distraction-free environment for focused reading and exploration.
              </li>
              <li><strong>Tagging and Categorization:</strong> To facilitate navigation and organization, digital
                gardens often use tags, categories, or other metadata to label and group related content. This enhances
                the discoverability of topics within the garden.
              </li>
              <li><strong>Search Functionality:</strong> A search feature allows users to quickly find specific topics
                or keywords within the digital garden, making it easier to navigate the content.
              </li>
              <li><strong>Public or Private Options:</strong> Digital gardens can be public, allowing others to explore
                and benefit from the shared knowledge, or private, serving as a personal repository for the creator's
                thoughts.
              </li>
            </ul>
            <p>Overall, digital gardens provide a flexible and dynamic platform for knowledge management, encouraging a
              more open and collaborative approach to learning and sharing information.</p>
          </div>

          <div id="section2">
            <h2>About this Garden</h2>
            <div class="about-image-wrapper">
              <img src="./assets/images/about/about-this-banner.png" alt="banner">
            </div>
            <p>The purpose of this garden is to be a blueprint for enhance knowledge of software development, web
              development and every each conar of technology. Notes analysing design, engineering and creativity. It
              aims to be simple and direct.</p>

            <div class="d-flex" style="margin: 40px 0">
              <div class="vr-bar"></div>
              <div class="quote-content">
                <p>"Don’t use words too big for the subject. Don’t say ‘infinitely’ when you mean ‘very’; otherwise
                  you’ll have no word left when you want to talk about something really infinite."</p>
                <p>- <a
                  href="https://www.plainlanguage.gov/resources/quotes/historical-quotes/#:~:text=Don%E2%80%99t%20use%20words%20too%20big%20for%20the%20subject.%20Don%E2%80%99t%20say%20%E2%80%98infinitely%E2%80%99%20when%20you%20mean%20%E2%80%98very%E2%80%99%3B%20otherwise%20you%E2%80%99ll%20have%20no%20word%20left%20when%20you%20want%20to%20talk%20about%20something%20really%20infinite.%0AC.S.%20Lewis">C.S.
                  Lewis - British Writer</a></p>
              </div>
              <div class="image-wrapper">
                <img src="./assets/images/author.png" alt="Author: Firstname Lastname">
              </div>
            </div>

            <p>Each note is assigned a status:</p>
            <table>
              <thead>
              <tr>
                <th>Status</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Seed</td>
                <td>The note is can be understand beginners also.</td>
              </tr>
              <tr>
                <td>Sprout</td>
                <td>The note is better suites for the intermediates.</td>
              </tr>
              <tr>
                <td>Advanced</td>
                <td>The note is representing advanced technologies or theories.</td>
              </tr>
              </tbody>
            </table>
          </div>

          <div id="section3">
            <h2>About the Author</h2>
            <p>I'm an undergraduate with a passionate to learn new technologies and sharing knowledge with others. I
              love to work with complex scenarios and I always think out of the frame. Mostly working with enterprise
              web applications development with Angular framework.</p>

            <div class="d-flex align-items-center about-contact">
              <a href="https://admin.flexi-art.com/"><i class="fa fa-heart" aria-hidden="true"></i></a>
              <a href="https://github.com/kavicastelo"><i class="fa fa-github" aria-hidden="true"></i></a>
              <a href="https://linkedin.com/in/kavindu-kokila-710963250"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a href="https://web.facebook.com/kavi.castelo/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="https://twitter.com/kavicastelo"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="mailto:kavindu.kokila.info@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
