<div class="about-wrapper">
  <div class="row">
    <div class="col-12 col-md-4 d-none d-md-block">
      <div class="about-nav">
        <div class="table-header">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          <span routerLink="/home">&nbsp;Back</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <div class="about-content">
        <div class="table-header">
          <span routerLink="/home">Note</span> / About
        </div>
        <div class="about-content-wrapper">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ea eos est expedita fugit illo quasi
            rerum? A accusantium commodi consequatur cum debitis deserunt dicta distinctio, dolorum ducimus est
            explicabo fugiat hic illum ipsam ipsum iste mollitia natus nemo nihil nostrum nulla officia pariatur quos
            repudiandae sint temporibus tenetur! Ab accusantium ad aliquid aperiam assumenda atque commodi corporis
            cumque delectus dignissimos doloremque doloribus eos est et explicabo facere fugit illum impedit ipsam
            itaque iusto labore laboriosam modi mollitia nam necessitatibus, nemo neque non odit provident quibusdam
            similique sint sit sunt temporibus totam unde? Dicta dolorem fugit, laudantium natus soluta ullam vel
            voluptas voluptate! A ab accusamus alias, corporis culpa dicta dolores enim excepturi ipsam itaque maiores
            nemo nulla officia perferendis quae quaerat quam quidem quisquam ratione repudiandae sapiente sequi
            voluptates! Alias consequuntur cum delectus eius eveniet fugit ipsa laborum nulla odit quas quidem
            recusandae, reprehenderit similique voluptate voluptatem. Consequatur cum esse eveniet excepturi maiores
            quod rem. Ad alias asperiores debitis dolores ea illum maiores minima minus, quaerat quas, repudiandae sequi
            sunt totam? Ab accusamus consequuntur culpa eligendi enim eveniet fugiat iusto, laudantium molestiae
            molestias nostrum omnis placeat porro quas quia recusandae sed? Ab ad culpa dicta doloribus eaque et fugiat
            laboriosam natus nemo quisquam reiciendis rem, vero vitae. Ab dolores et eveniet laborum odio saepe tenetur
            voluptates! Adipisci aliquam, aliquid amet aperiam at aut consequatur cumque, ex labore maiores nemo neque
            nihil odit omnis qui quisquam repellendus rerum tenetur voluptas voluptatibus. Beatae dolor enim iste
            laboriosam laudantium, obcaecati quam quisquam recusandae. Aperiam, dicta eius id laborum libero nobis, non
            optio quae quaerat soluta sunt vel voluptatem, voluptatibus. Cumque eaque id laboriosam nam nulla quaerat
            quo repellendus sapiente. Aperiam beatae corporis facere fugiat hic itaque laborum libero necessitatibus
            rerum veritatis? Accusamus asperiores beatae, cumque facilis fugiat laborum minima nostrum quia vero!</p>
        </div>
      </div>
    </div>
  </div>
</div>
