.about-wrapper {
  width: 100%;
  min-height: 100%;
  background-color: #1c1c1c;
  color: #d6c8ab;
  border: 2px solid #d6c8ab;

  .about-nav, .about-content{
    width: 100%;
    //min-height: calc(100vh - (2vw + 16px));

    .table-header{
      width: 100%;
      height: 45px;
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 2px solid #d6c8ab;

      span{
        text-decoration: underline;
        transition: background-color 0.3s ease;
      }
      span:hover{
        cursor: pointer;
        text-decoration: none;
        color: #1c1c1c;
        background-color: #d6c8ab;
      }
    }
  }
  .about-nav{
    border-right: 2px solid #d6c8ab;

    .nav-wrapper{
      padding: 8px;
      height: calc(100vh - (2vw + 61px));
      background-image: url("../../../assets/images/logo-3.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;

      h4{
        font-size: 20px;
        margin: 15px 0;
      }

      ul{
        padding: 0;

        li{
          list-style: none;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 8px;
          transition: background-color 0.3s ease;
          margin: 0;
          font-size: 14px;

          a{
            text-decoration: none;
            color: #d6c8ab;

            &:active{
              text-decoration: double underline;
            }
          }

          &:hover{
            cursor: pointer;
            background-color: #d6c8ab;

            a{
              color: #1c1c1c;
            }
          }
        }
      }
    }
  }
  .about-content{
    border-left: 2px solid #d6c8ab;

    .about-content-wrapper{
      width: 100%;
      height: calc(100vh - (2vw + 61px));
      overflow-x: hidden;
      overflow-y: auto;
      padding: 18px 25% 18px 18px;

      h2{
        font-size: 22px;
        font-weight: bolder;
        margin: 14px 0;
      }
      p, li{
        font-size: 14px;
        color: #d0bc95;

        strong{
          color: #d6c8ab;
        }
      }
      li{
        margin-bottom: 20px;
      }
      img{
        width: 100%;
      }

      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #d0bc95;
      }

      .about-image-wrapper{
        width: 100%;

        img{
          width: 100%;
        }
        .pro-image{
          width: 30%;

          @media screen and (max-width: 768px) {
            width: 50%;
          }
        }
      }

      .vr-bar{
        width: 8px;
        height: 150px;
        margin-right: 20px;
        background-color: #d6c8ab;
      }
      .quote-content{
        p{
          &:first-child{
            font-family: 'Caveat', cursive;
            font-size: 18px;
          }
          &:last-child{
            a{
              color: #d6c8ab;
            }
            font-family: 'Red Hat Display', sans-serif;
            font-size: 14px;
          }
        }
      }
      .image-wrapper{
        max-width: 20%;

        img{
          width: 100%;
        }
      }
      .about-contact{
        font-size: 20px;

        a{
          color: #d6c8ab;
          text-decoration: none;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color,color 0.3s ease;

          &:first-child{
            color: #cd2c6f;
          }

          &:hover{
            color: #1c1c1c;
            background-color: #b9a06e;
          }
        }
      }

      #section2{
        table{
          margin-bottom: 30px;
          tr{
            td, th{
              border: 1px solid #d0bc95;
              padding: 8px 12px;
            }
          }
          thead{
            background-color: #d0bc95;
            color: #1c1c1c;
            font-weight: normal;
            font-size: 14px;
          }
          tbody{
            font-size: 14px;
          }
        }
      }

      @media screen and (max-width: 900px) {
        padding-right: 28px;
      }
      @media screen and (max-width: 550px) {
        .image-wrapper{
          display: none;
        }
      }
    }
    @media screen and (max-width: 768px) {
      border-left: none;
    }
  }
}
