<div class="note-title-wrapper-header">
  <i class="fa fa-chevron-left" aria-hidden="true"></i>
  <p><span routerLink="/home">Notes</span> / CSS / CSS Advanced</p>
</div>
<div class="container">
  <div class="note-content">
    <div class="banner">
      <img src="assets/images/css/css-advance.png" alt="css advance">
    </div>
    <div id="Mastering Advanced CSS.." class="section">
      <h1>Mastering Advanced CSS Techniques: A Comprehensive Guide</h1>
      <p class="note-tags"><span><strong>Tended:</strong> Feb 2024</span> <span><strong>Status:</strong> Sprout</span>
      </p>
    </div>

    <div id="Introduction:" class="section">
      <p>Cascading Style Sheets (CSS) is a versatile and powerful language for styling web documents. Beyond the basics,
        advanced CSS techniques provide the means to create sophisticated layouts and designs. In this guide, we'll
        explore some of these advanced techniques, unraveling the complexity and providing practical examples.</p>
    </div>

    <div id="1. CSS Grid Layout" class="section">
      <h2>1. CSS Grid Layout</h2>
    </div>

    <div id="‎ ‎ ➥ Understanding CSS.." class="section">
      <h3>Understanding CSS Grid</h3>
      <p>
        CSS Grid Layout is a two-dimensional layout system for the web. It allows you to design complex grid-based
        layouts with ease. The key components are the grid container and grid items.
      </p>
      <h4>Grid Container:</h4>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            CSS
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="initializer">.container </span>&lcub;<br>
          &nbsp;&nbsp;&nbsp;<span class="display">display</span>: grid;<br>
          &nbsp;&nbsp;&nbsp;<span class="display">grid-gap</span>: <span class="initializer">10px</span>;<br>
          &nbsp;&nbsp;&nbsp;<span class="display">grid-template-columns</span>: <span class="initializer">1</span>fr
          <span class="initializer">1</span>fr <span class="initializer">1</span>fr;<br>
          &rcub;<br>
        </div>
      </div>

      <h4>Grid Items:</h4>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            CSS
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="initializer">.item </span>&lcub;<br>
          &nbsp;&nbsp;&nbsp;<span class="display">grid-column</span>: span <span class="initializer">2</span>;<br>
          &rcub;<br>
        </div>
      </div>
      <p>In this example, the <strong>.container</strong> is set as a grid with three columns of equal width and a gap
        of 20 pixels. The <strong>.item</strong> spans two columns within the grid.</p>
    </div>

    <div id="2. CSS Flexbox for Responsive.." class="section">
      <h2>2. CSS Flexbox for Responsive Design</h2>
    </div>

    <div id="‎ ‎ ➥ Leveraging Flexbox" class="section">
      <h3>Leveraging Flexbox</h3>
      <p>Flexbox is excellent for building flexible and responsive layouts. It's especially useful for creating dynamic
        navigation menus or aligning items within a container.</p>

      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            CSS
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="initializer">.container </span>&lcub;<br>
          &nbsp;&nbsp;&nbsp;<span class="display">display</span>: flex;<br>
          &nbsp;&nbsp;&nbsp;<span class="display">justify-content</span>: space-between;<br>
          &nbsp;&nbsp;&nbsp;<span class="display">align-items</span>: center;<br>
          &rcub;<br>
        </div>
      </div>
      <p>In this example, the <strong>.container</strong> is a flex container with items evenly spaced and vertically
        centered. This is particularly handy for building responsive navigation bars.</p>
    </div>

    <div id="3. CSS Transitions and.." class="section">
      <h2>3. CSS Transitions and Animations</h2>
    </div>

    <div id="‎ ‎ ➥ Adding Motion to.." class="section">
      <h3>Adding Motion to Elements</h3>
      <p>
        Transitions and animations bring life to your web pages. They can be applied to various properties, providing
        smooth and engaging user experiences.
      </p>
      <h4>CSS Transitions:</h4>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            CSS
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="initializer">.button </span>&lcub;<br>
          &nbsp;&nbsp;&nbsp;<span class="display">transition</span>: background-color <span
          class="initializer">0.3s</span> ease;<br>
          &rcub;<br><br>
          <span class="initializer">.button:hover </span>&lcub;<br>
          &nbsp;&nbsp;&nbsp;<span class="display">background-color</span>: <span class="initializer">#333</span>;<br>
          &rcub;<br>
        </div>
      </div>
      <p>Here, the background color of the <strong>.button</strong> transitions smoothly over 0.3 seconds when hovered.
      </p>

      <h4>CSS Animations:</h4>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            CSS
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="keyword">@keyframes </span>slide &lcub;<br>
          &nbsp;&nbsp;&nbsp;<span class="initializer">0% </span>&lcub; <span class="display">transform</span>: <span
          class="import">translateX</span>(<span class="initializer">0</span>); &rcub;<br>
          &nbsp;&nbsp;&nbsp;<span class="initializer">100% </span>&lcub; <span class="display">transform</span>: <span
          class="import">translateX</span>(<span class="initializer">100%</span>); &rcub;<br>
          &rcub;<br><br>

          <span class="initializer">.button </span>&lcub;<br>
          &nbsp;&nbsp;&nbsp;<span class="display">animation</span>: slide <span class="initializer">1s</span> ease;<br>
          &rcub;<br>
        </div>
      </div>

      <p>Here, the <strong>.button</strong> element slides from the left to the right smoothly over 1 second.</p>
    </div>

    <div id="4. CSS Variables" class="section">
      <h2>4. CSS Variables</h2>
    </div>

    <div id="‎ ‎ ➥ Modularizing Your.." class="section">
      <h3>Modularizing Your Styles</h3>
      <p>CSS Variables provide a way to store and reuse values throughout your stylesheet. This enhances maintainability
        and allows for easy theming.</p>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            CSS
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="initializer">:root </span>&lcub;<br>
          &nbsp;&nbsp;&nbsp;<span class="initializer">--main-color</span>: <span class="initializer">#333</span>;<br>
          &rcub;<br><br>

          <span class="initializer">.header </span>&lcub;<br>
          &nbsp;&nbsp;&nbsp;<span class="display">background-color</span>: <span class="import">var</span>(--main-color);<br>
          &rcub;<br>
        </div>
      </div>

      <p>By defining <strong>--main-color</strong> in the <strong>:root</strong> pseudo-class, it becomes a global
        variable accessible throughout the stylesheet.</p>
    </div>

    <div id="5. Responsive Typography.." class="section">
      <h2>5. Responsive Typography with <strong>vw</strong> and <strong>vh</strong> Units</h2>
    </div>

    <div id="‎ ‎ ➥ Scaling Text.." class="section">
      <h3>Scaling Text Responsively</h3>
      <p>Viewport units (<span class="realistic-marker-highlight">vw</span> for viewport width, <span
        class="realistic-marker-highlight">vh</span> for viewport height) enable you to create text that scales with the
        size of the viewport.</p>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            CSS
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="initializer">.title </span>&lcub;<br>
          &nbsp;&nbsp;&nbsp;<span class="display">font-size</span>: <span class="initializer">4vw</span>;<br>
          &rcub;<br>
        </div>
      </div>

      <p>In this example, the font size of the <strong>.title</strong> class is set to be 4% of the viewport width.</p>
    </div>

    <div id="Conclusion:" class="section">
      <h2>Conclusion</h2>
      <p>Mastering advanced CSS techniques opens up a world of possibilities for creating visually stunning and
        responsive web designs. Whether you're working with grid layouts, flex containers, animations, variables, or
        responsive typography, these techniques empower you to craft modern and sophisticated user interfaces.
        Experiment with these examples, tweak the values, and incorporate these advanced techniques into your web
        development toolkit.</p>
    </div>
  </div>

  <app-support></app-support>

</div>
