<div class="note-title-wrapper-header">
  <i class="fa fa-chevron-left" aria-hidden="true"></i>
  <p><span routerLink="/home">Notes</span> / JS / Canvas</p>
</div>
<div class="container">
  <div class="note-content">
    <div class="banner">
      <img src="assets/images/js/canvas-thumb.png" alt="Canvas">
    </div>
    <div id="Unleashing Creativity with.." class="section">
      <h1>Unleashing Creativity with HTML Canvas: A Comprehensive Guide to the Canvas Element and its Properties</h1>
      <p class="note-tags"><span><strong>Tended:</strong> Dec 2023</span> <span><strong>Status:</strong> Sprout</span>
      </p>
    </div>

    <div id="Introduction:" class="section">
      <h2>Introduction:</h2>
      <p>The HTML
        <span class="realistic-marker-highlight">&lt;canvas&gt;</span> element is a powerful tool that allows developers
        to create dynamic and interactive graphics directly
        within a web page. It serves as a blank slate where you can draw shapes, images, and animations using
        JavaScript. In this article, we'll explore the fundamentals of the HTML
        <span class="realistic-marker-highlight">&lt;canvas&gt;</span> element, with a particular focus on the canvas
        context and its properties.
      </p>
    </div>

    <div id="1. Understanding the.." class="section">
      <h2>Understanding the &lt;canvas&gt; Element:</h2>
      <p>The <strong>`&lt;canvas&gt;`</strong> element is an HTML tag that provides an area for drawing graphics on a
        web page. To use it, simply include the following tag in your HTML document:</p>
      <p><span class="variable">&lt;canvas </span><span class="initializer">id</span>=<span
        class="display">"myCanvas" </span><span class="initializer">width</span>=<span
        class="display">"500" </span><span class="initializer">height</span>=<span class="display">"300" </span><span
        class="variable">&gt;</span><span class="variable">&lt;canvas/&gt;</span></p>
      <p>This example creates a canvas with an <strong>id</strong> of
        "myCanvas" and sets its width and height attributes to 500 and 300
        pixels, respectively. Adjust these values based on your design requirements.</p>
    </div>

    <div id="2. Getting the Canvas.." class="section">
      <h2>Getting the Canvas Context:</h2>
      <p>To draw on the canvas, you need to obtain the drawing context. The canvas supports two-dimensional
        <strong>(2D)</strong> and
        three-dimensional <strong>(3D)</strong> contexts. For most applications, we'll focus on the <span
          class="circle-sketch-highlight">2D context:</span></p>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            Javascript
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="keyword">const </span><span class="variable">canvas = </span><span
          class="initializer">document</span>.<span class="name">getElementById</span><span>(<span class="display">"myCanvas"</span>);</span><br>
          <span class="keyword">const </span><span class="variable">context = </span><span
          class="variable">canvas</span>.<span class="name">getContext</span><span>(<span class="display">"2d"</span>);</span><br>
        </div>
      </div>
      <p>Now, the <span class="circle-sketch-highlight"><strong>context</strong></span> variable holds the 2D drawing
        context for the canvas. All subsequent drawing operations will be performed through this context.</p>
    </div>

    <div id="3. Exploring Canvas.." class="section">
      <h2>Exploring Canvas Properties:</h2>
    </div>

    <div id="‎ ‎ ➥ Fill and Stroke.." class="section">
      <h3>1. Fill and Stroke Styles:</h3>
      <ul>
        <li>Set the fill and stroke styles to define the colors of shapes and lines.</li>
      </ul>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            Javascript
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="variable">context.fillStyle = </span><span class="display">"blue"</span>;<br>
          <span class="variable">context.fillStroke = </span><span class="display">"green"</span>;<br>
        </div>
      </div>
    </div>

    <div id="‎ ‎ ➥ Drawing Shapes:" class="section">
      <h3>2. Drawing Shapes:</h3>
      <ul>
        <li>Use methods like <span class="circle-sketch-highlight">fillRect, strokeRect, and arc</span> to draw shapes
          on the canvas.
        </li>
      </ul>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            Javascript
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="variable">context.</span><span class="name">fillRect</span>(<span
          class="initializer">50</span>,<span class="initializer">50</span>,<span class="initializer">100</span>,<span
          class="initializer">80</span>); <span class="comment">// Draw a filled rectangle</span><br>
          <span class="variable">context.</span><span class="name">strokeRect</span>(<span
          class="initializer">200</span>,<span class="initializer">50</span>,<span class="initializer">100</span>,<span
          class="initializer">80</span>); <span class="comment">// Draw a stroked rectangle</span><br>
          <span class="variable">context.</span><span class="name">arc</span>(<span class="initializer">350</span>,<span
          class="initializer">90</span>,<span class="initializer">40</span>,<span class="initializer">0</span>,<span
          class="name">Math</span>.PI * <span class="initializer">2</span>); <span
          class="comment">// Draw a circle</span><br>
          <span class="variable">context.</span><span class="name">fill</span>(); <span class="comment">// Fill the circle</span><br>
        </div>
      </div>
      <img src="./assets/images/js/canvas.png" alt="canvas.png" class="note-content-image">
    </div>

    <div id="‎ ‎ ➥ Path Drawing:" class="section">
      <h3>3. Path Drawing:</h3>
      <ul>
        <li>Create complex shapes by defining paths using <span class="circle-sketch-highlight">beginPath, moveTo, lineTo, and closePath</span>.
        </li>
      </ul>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            Javascript
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="variable">context.</span><span class="name">beginPath</span>(); <br>
          <span class="variable">context.</span><span class="name">moveTo</span>(<span
          class="initializer">50</span>,<span class="initializer">200</span>); <br>
          <span class="variable">context.</span><span class="name">lineTo</span>(<span
          class="initializer">150</span>,<span class="initializer">200</span>); <br>
          <span class="variable">context.</span><span class="name">lineTo</span>(<span
          class="initializer">100</span>,<span class="initializer">150</span>); <br>
          <span class="variable">context.</span><span class="name">closePath</span>();<br>
          <span class="variable">context.</span><span class="name">stroke</span>();<br>
        </div>
      </div>
      <img src="./assets/images/js/canvas2.png" alt="canvas2.png" class="note-content-image">
    </div>

    <div id="‎ ‎ ➥ Text Rendering:" class="section">
      <h3>4. Text Rendering:</h3>
      <ul>
        <li>Render text on the canvas using <span class="circle-sketch-highlight">fillText and strokeText</span>.
        </li>
      </ul>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            Javascript
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="variable">context.font = </span><span class="display">"24px Arial"</span>; <br>
          <span class="variable">context.</span><span class="name">fillText</span>(<span class="display">"Hello, Canvas!"</span>,<span
          class="initializer">200</span>,<span class="initializer">250</span>); <br>
          <span class="variable">context.</span><span class="name">lineTo</span>(<span
          class="display">"Stroked Text"</span>,<span
          class="initializer">200</span>,<span class="initializer">280</span>); <br>
        </div>
      </div>
    </div>

    <div id="‎ ‎ ➥ Image Drawing:" class="section">
      <h3>5. Image Drawing:</h3>
      <ul>
        <li>Load and draw images onto the canvas.
        </li>
      </ul>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            Javascript
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="keyword">const </span><span class="variable">img</span> = <span class="keyword">new </span><span
          class="name">Image</span>();<br>
          <span class="variable">img.</span><span class="name">src</span> = <span
          class="display">"image.jpg"</span>;<br>
          <span class="variable">img.onload = () => &lcub;</span><br>
          &nbsp;&nbsp;&nbsp;<span class="variable">context.</span><span class="name"></span><span
          class="name">drawImage</span>(<span class="variable">img</span>,<span class="initializer">400</span>,<span
          class="initializer">50</span>,<span class="initializer">100</span>,<span class="initializer">100</span>);<br>
          &rcub;<br>
        </div>
      </div>
    </div>

    <div id="‎ ‎ ➥ Transformations:" class="section">
      <h3>6. Transformations:</h3>
      <ul>
        <li>Apply transformations like rotation, scaling, and translation.
        </li>
      </ul>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            Javascript
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="variable">context.</span><span class="name">rotate</span>(<span
          class="name">Math</span>.PI / <span class="initializer">4</span>); <span class="comment">// Rotate by <span class="circle-sketch-highlight">45 degrees</span></span> <br>
          <span class="variable">context.</span><span class="name">scale</span>(<span
          class="initializer">2</span>,<span class="initializer">1</span>); <span class="comment">// Scale horizontally by 2</span> <br>
          <span class="variable">context.</span><span class="name">translate</span>(<span
          class="initializer">100</span>,<span class="initializer">100</span>); <span class="comment">// Translate the origin</span> <br>
        </div>
      </div>
    </div>

    <div id="Conclusion:" class="section">
      <h2>Conclusion:</h2>
      <p>The HTML
        <span class="realistic-marker-highlight">&lt;canvas&gt;</span> element provides a blank canvas for creative
        expression on the web. By understanding the canvas context
        and its properties, you can bring your designs to life through dynamic graphics, animations, and interactive
        elements. Experiment with different methods and properties to unlock the full potential of the HTML canvas in
        your web projects.
      </p>
    </div>
  </div>

  <app-support></app-support>

  <div class="navigation-content">
    <div class="section">
      <div class="d-md-flex align-items-center justify-content-between">
        <div style="min-width: 50%">
          <h1>Where to next?</h1>
          <ul>
            <li><span routerLink="/home">Notes</span></li>
            <ul>
              <li class="not-link">
                <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                  <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                        vector-effect="non-scaling-stroke"></line>
                  <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                        vector-effect="non-scaling-stroke"></line>
                </svg>
                <span>Javascript</span></li>
              <ul>
                <li>
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26"
                       style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="26" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span routerLink="/js/why-js">Why Js?</span></li>
                <li>
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26"
                       style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="26" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span routerLink="/js/v8engine">V8 Engine</span></li>
                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Simulations</span></li>
                <ul>
                  <li>
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26"
                         style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="26" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span routerLink="/js/wave">Wave Simulation</span></li>
                  <li>
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26"
                         style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span routerLink="/js/fluid">Fluid Simulation</span></li>
                </ul>
                <li class="here">&nbsp;&nbsp;&nbsp;You are here
                  <svg class="_1ovgwpu0" viewBox="0 0 24 24" width="18px" height="18px"><title>Arrow pointing
                    down</title>
                    <path
                      d="M12,23.36L2.94,15h5.56V1h7V15h5.56l-9.06,8.36Zm-3.94-6.36l3.94,3.64,3.94-3.64h-2.44V3h-3v14h-2.44Z"
                      vector-effect="non-scaling-stroke"></path>
                  </svg>
                </li>
                <li class="active-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26"
                       style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span routerLink="/js/canvas">Canvas</span></li>
              </ul>
            </ul>
          </ul>
        </div>
        <div class="where-to-next-banner">
          <img src="../../../../../assets/images/navigate2.png" alt="banner">
          <img src="../../../../../assets/images/navigate1.png" alt="navigate" class="banner-image-supporter">
        </div>
      </div>
    </div>
  </div>

</div>
