<div class="note-title-wrapper-header">
  <i class="fa fa-chevron-left" aria-hidden="true"></i>
  <p><span routerLink="/home">Notes</span> / JS / V8 Engine</p>
</div>
<div class="container">
  <div class="note-content">
    <div class="banner">
      <img src="assets/images/js/v8%20engine.png" alt="V8 Engine">
    </div>
    <div id="Unveiling the Intricacies.." class="section">
      <h1>Unveiling the Intricacies of V8 Engines: A Symphony of Power and Precision</h1>
      <p class="note-tags"><span><strong>Tended:</strong> Dec 2023</span> <span><strong>Status:</strong> Sprout</span>
      </p>
    </div>

    <div id="Introduction:" class="section">
      <h2>Introduction:</h2>
      <p>V8 engines, characterized by their V-shaped arrangement of eight cylinders, are engineering marvels that
        dominate
        the automotive landscape. This article delves into the intricacies of V8 engines, shedding light on their
        design,
        performance characteristics, and the factors that make them a staple in a diverse range of vehicles.</p>
    </div>

    <div id="1. The V8 Configuration:" class="section">
      <h2>The V8 Configuration:</h2>
      <p>At the heart of a V8 engine is its unique V-shaped layout, featuring four cylinders on each side. This
        configuration optimizes space, allowing for a more compact and lightweight design while accommodating a larger
        number of cylinders compared to other engine layouts.</p>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            Javascript
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="keyword">class </span><span class="name">V8Engine </span><span>&lcub;</span><br>
          &nbsp;&nbsp;&nbsp;<span class="name">constructor</span><span>()&lcub;</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="initializer">this</span><span class="variable">.cylindersPerBank = </span><span
          class="initializer">4</span>;<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="initializer">this</span><span
          class="variable">.banks = </span><span
          class="initializer">2</span>;<span class="comment"> // V-shaped configuration</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="initializer">this</span><span class="variable">.totalCylinders = </span><span
          class="initializer">this</span><span class="variable">cylindersPerBank * </span><span
          class="initializer">this</span><span class="variable">.banks;</span><br>
          &nbsp;&nbsp;&nbsp;<span>&rcub;</span><br>
          <span>&rcub;</span><br><br>
          <span class="comment">// Example usage</span><br>
          <span class="keyword">const </span><span class="variable">v8Engine = </span><span
          class="keyword">new </span><span class="name">V8Engine</span><span>();</span><br>
          <span class="initializer">console</span>.<span class="span name">log</span>(<span class="display">`Number of cylinders: $&lcub;v8Engine.totalCylinders&rcub;`</span>);<br>
        </div>
      </div>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <span class="variable">Console</span>
        </div>
        <div class="code-snippet-wrapper">
          <div class="d-flex align-items-center">
            <div><span> > </span><span>Number of cylinders: <span class="keyword">8</span> &nbsp;</span></div>
            <div class="cursor-end-point"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="2. Power and Performance.." class="section">
      <h2>Power and Performance:</h2>
      <p>V8 engines are synonymous with power and performance. The increased number of cylinders and higher displacement
        result in a substantial power output. This characteristic makes V8 engines a preferred choice for
        high-performance
        vehicles, including sports cars and muscle cars.</p>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            Javascript
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="keyword">class </span><span class="name">HighPerformanceVehicle </span><span>&lcub;</span><br>
          &nbsp;&nbsp;&nbsp;<span class="name">constructor</span><span>(engine)&lcub;</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="initializer">this</span><span
          class="variable">.engine = </span><span
          class="variable">engine</span>;<br>
          &nbsp;&nbsp;&nbsp;<span>&rcub;</span><br><br>
          &nbsp;&nbsp;&nbsp;<span class="name">accelerate</span><span>()&lcub;</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="initializer">console</span>.<span
          class="span name">log</span>(<span
          class="display">`The $&lcub;<span class="initializer">this</span>.engine&rcub; is unleashing its power!`</span>);<br>
          &nbsp;&nbsp;&nbsp;<span>&rcub;</span><br>
          <span>&rcub;</span><br><br>
          <span class="comment">// Example usage</span><br>
          <span class="keyword">const </span><span class="variable">highPerformanceCar = </span><span
          class="keyword">new </span><span class="name">HighPerformanceVehicle</span><span>(<span class="display">"V8 Engine"</span>);</span><br>
          <span class="variable">highPerformanceCar.</span><span class="name">accelerate</span>();<br>
        </div>
      </div>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <span class="variable">Console</span>
        </div>
        <div class="code-snippet-wrapper">
          <div class="d-flex align-items-center">
            <div><span> > </span><span>The V8 Engine is unleashing its power! &nbsp;</span></div>
            <div class="cursor-end-point"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="3. Smooth Operation and.." class="section">
      <h2>Smooth Operation and Efficiency:</h2>
      <p>The V8 configuration inherently provides balance, reducing vibrations during operation. With four cylinders on
        each side firing in a balanced sequence, the engine achieves a level of smoothness that contributes to its
        durability and longevity.</p>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            Javascript
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="keyword">class </span><span class="name">SmoothV8Engine </span><span class="keyword">extends </span><span class="name">V8Engine</span><span>&lcub;</span><br>
          &nbsp;&nbsp;&nbsp;<span class="name">constructor</span><span>()&lcub;</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="initializer">super</span>();<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="initializer">this</span><span
          class="variable">.balance = </span><span
          class="display">"Smooth"</span>;<br>
          &nbsp;&nbsp;&nbsp;<span>&rcub;</span><br><br>
          <span class="keyword">const </span><span class="variable">smoothV8Engine = </span><span
          class="keyword">new </span><span class="name">SmoothV8Engine</span><span>();</span><br>
          <span class="initializer">console</span>.<span
          class="span name">log</span>(<span
          class="display">`Engine balance: $&lcub;smoothEngine.balance&rcub;`</span>);<br>
        </div>
      </div>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <span class="variable">Console</span>
        </div>
        <div class="code-snippet-wrapper">
          <div class="d-flex align-items-center">
            <div><span> > </span><span>Engine balance: Smooth &nbsp;</span></div>
            <div class="cursor-end-point"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="4. Torque Across the.." class="section">
      <h2>Torque Across the Stroke:</h2>
      <p>One of the hallmarks of V8 engines is their impressive torque output. The V8 design allows for optimal
        utilization of engine displacement, resulting in a broad and robust torque curve. This translates to strong
        acceleration and towing capabilities across a wide range of RPM.</p>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            Javascript
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="keyword">class </span><span class="name">TorqueCurve </span><span>&lcub;</span><br>
          &nbsp;&nbsp;&nbsp;<span class="name">constructor</span><span>(engine)&lcub;</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="initializer">this</span><span
          class="variable">.engine = </span><span
          class="variable">engine</span>;<br>
          &nbsp;&nbsp;&nbsp;<span>&rcub;</span><br><br>
          &nbsp;&nbsp;&nbsp;<span class="name">generateTorqueCurve</span><span>()&lcub;</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="initializer">console</span>.<span
          class="span name">log</span>(<span
          class="display">`The $&lcub;<span class="initializer">this</span>.engine&rcub; produces a broad and robust torque curve.`</span>);<br>
          &nbsp;&nbsp;&nbsp;<span>&rcub;</span><br>
          <span>&rcub;</span><br><br>
          <span class="comment">// Example usage</span><br>
          <span class="keyword">const </span><span class="variable">torqueCurveGenerator = </span><span
          class="keyword">new </span><span class="name">TorqueCurve</span><span>(<span class="display">"V8 Engine"</span>);</span><br>
          <span class="variable">torqueCurveGenerator.</span><span class="name">generateTorqueCurve</span>();<br>
        </div>
      </div>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <span class="variable">Console</span>
        </div>
        <div class="code-snippet-wrapper">
          <div class="d-flex align-items-center">
            <div><span> > </span><span>The V8 Engine produces a broad and robust torque curve. &nbsp;</span></div>
            <div class="cursor-end-point"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="5. Versatility Across.." class="section">
      <h2>Versatility Across the Stroke:</h2>
      <p>V8 engines are incredibly versatile, finding homes in various vehicle types. From luxury sedans and SUVs to
        trucks and performance cars, the adaptability of V8 engines speaks to their ability to cater to different
        driving
        needs and preferences.</p>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            Javascript
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="keyword">class </span><span class="name">Vehicle </span><span>&lcub;</span><br>
          &nbsp;&nbsp;&nbsp;<span class="name">constructor</span><span>(engineType)&lcub;</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="initializer">this</span><span
          class="variable">.engineType = </span><span
          class="variable">engineType</span>;<br>
          &nbsp;&nbsp;&nbsp;<span>&rcub;</span><br><br>
          <span class="comment">// Example usage</span><br>
          <span class="keyword">const </span><span class="variable">luxurySedan = </span><span
          class="keyword">new </span><span class="name">Vehicle</span><span>(<span class="display">"V8 Engine"</span>);</span><br>
          <span class="keyword">const </span><span class="variable">truck = </span><span
          class="keyword">new </span><span class="name">Vehicle</span><span>(<span class="display">"V8 Engine"</span>);</span><br>
          <span class="initializer">console</span>.<span
          class="span name">log</span>(<span
          class="display">`Luxury Sedan Engine Type: $&lcub;luxurySedan.engineType&rcub;`</span>);<br>
          <span class="initializer">console</span>.<span
          class="span name">log</span>(<span
          class="display">`Truck Engine Type: $&lcub;truck.engineType&rcub;`</span>);<br>
        </div>
      </div>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <span class="variable">Console</span>
        </div>
        <div class="code-snippet-wrapper">
          <span> > </span><span>Luxury Sedan Engine Type: V8 Engine &nbsp;</span>
          <div class="d-flex align-items-center">
            <div><span> > </span><span>Truck Engine Type: V8 Engine &nbsp;</span></div>
            <div class="cursor-end-point"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="6. The Signature Sound:" class="section">
      <h2>The Signature Sound:</h2>
      <p>Enthusiasts and casual drivers alike recognize the distinctive sound of a V8 engine. The firing order and
        exhaust
        note produce a deep, resonant rumble that adds to the overall experience of driving a V8-powered vehicle.</p>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            Javascript
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="keyword">class </span><span class="name">V8Sound </span><span>&lcub;</span><br>
          &nbsp;&nbsp;&nbsp;<span class="name">constructor</span><span>(engineType)&lcub;</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="initializer">this</span><span
          class="variable">.engineType = </span><span
          class="variable">engineType</span>;<br>
          &nbsp;&nbsp;&nbsp;<span>&rcub;</span><br><br>
          &nbsp;&nbsp;&nbsp;<span class="name">produceSound</span><span>()&lcub;</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="initializer">console</span>.<span
          class="span name">log</span>(<span
          class="display">`The $&lcub;<span class="initializer">this</span>.engineType&rcub; roars with a distinctive rumble!`</span>);<br>
          &nbsp;&nbsp;&nbsp;<span>&rcub;</span><br>
          <span>&rcub;</span><br><br>
          <span class="comment">// Example usage</span><br>
          <span class="keyword">const </span><span class="variable">v8SoundSystem = </span><span
          class="keyword">new </span><span class="name">V8Sound</span><span>(<span class="display">"V8 Engine"</span>);</span><br>
          <span class="variable">v8SoundSystem.</span><span class="name">produceSound</span>();<br>
        </div>
      </div>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <span class="variable">Console</span>
        </div>
        <div class="code-snippet-wrapper">
          <div class="d-flex align-items-center">
            <div><span> > </span><span>The V8 Engine roars with a distinctive rumble! &nbsp;</span></div>
            <div class="cursor-end-point"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="7. Integration of Advanced.." class="section">
      <h2>Integration of Advanced Components:</h2>
      <p>Modern V8 engines incorporate cutting-edge technologies, including direct fuel injection, variable valve
        timing,
        and cylinder deactivation. These innovations enhance fuel efficiency and reduce emissions without compromising
        the
        engine's performance capabilities.</p>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            Javascript
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="keyword">class </span><span class="name">ModernV8Engine </span><span class="keyword">extends </span><span class="name">V8Engine</span><span>&lcub;</span><br>
          &nbsp;&nbsp;&nbsp;<span class="name">constructor</span><span>()&lcub;</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="initializer">super</span>();<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="initializer">this</span><span
          class="variable">.technologies = [</span><span
          class="display">"Direct Fuel Injection"</span>,<span
          class="display">"Variable Valve Timing"</span>,<span
          class="display">"Cylinder Deactivation"</span>];<br>
          &nbsp;&nbsp;&nbsp;<span>&rcub;</span><br><br>
          <span class="keyword">const </span><span class="variable">modernEngine = </span><span
          class="keyword">new </span><span class="name">ModernV8Engine</span><span>();</span><br>
          <span class="initializer">console</span>.<span
          class="span name">log</span>(<span
          class="display">`Integrated Technologies: $&lcub;modernEngine.technologies&rcub;`</span>);<br>
        </div>
      </div>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <span class="variable">Console</span>
        </div>
        <div class="code-snippet-wrapper">
          <span> > </span><span>Integrated Technologies: Direct Fuel Injection,Variable Valve Timing,Cylinder Deactivation &nbsp;</span>
          <div class="d-flex align-items-center">
            <div><span> > </span></div>&nbsp;
            <div class="cursor-end-point"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="8. Customization and.." class="section">
      <h2>Customization and Innovation:</h2>
      <p>V8 engines have a strong presence in the aftermarket, offering enthusiasts the opportunity to enhance
        performance
        through various modifications. From upgraded exhaust systems to performance tuning, the customization potential
        of
        V8 engines contributes to their enduring popularity among car enthusiasts.</p>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            Javascript
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="keyword">class </span><span class="name">V8EngineModifications </span><span>(engine)&lcub;</span><br>
          &nbsp;&nbsp;&nbsp;<span class="name">constructor</span><span>()&lcub;</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="initializer">this</span><span class="variable">.engine = </span><span class="variable">engine</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="initializer">this</span><span
          class="variable">.modifications = []</span><br>
          &nbsp;&nbsp;&nbsp;<span>&rcub;</span><br><br>
          &nbsp;&nbsp;&nbsp;<span class="name">addModification</span><span>(modification)&lcub;</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="initializer">this</span>.<span
          class="variable">modifications</span>.<span
          class="name">push</span>(modification)<br>
          &nbsp;&nbsp;&nbsp;<span>&rcub;</span><br>
          <span>&rcub;</span><br><br>
          <span class="keyword">const </span><span class="variable">modifiedEngine = </span><span
          class="keyword">new </span><span class="name">V8EngineModifications</span><span>(<span class="display">"V8 Engine"</span>);</span><br>
          <span class="variable">modifiedEngine.</span><span class="name">addModification</span>(<span class="display">"Upgraded Exhaust System"</span>);<br>
          <span class="variable">modifiedEngine.</span><span class="name">addModification</span>(<span class="display">"Performance Tuning"</span>);<br>
          <span class="initializer">console</span>.<span
          class="name">log</span>(<span
          class="display">`Modifications: $&lcub;modifiedEngine.modifications&rcub;`</span>);<br>
        </div>
      </div>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <span class="variable">Console</span>
        </div>
        <div class="code-snippet-wrapper">
          <span> > </span><span>Modifications: Upgraded Exhaust System,Performance Tuning &nbsp;</span>
          <div class="d-flex align-items-center">
            <div><span> > </span></div>&nbsp;
            <div class="cursor-end-point"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="Conclusion:" class="section">
      <h2>Conclusion:</h2>
      <p>In the realm of internal combustion engines, V8 engines stand as icons of power, precision, and versatility.
        Whether you appreciate the raw power of a muscle car or the towing capabilities of a pickup truck, the V8 engine
        continues to captivate automotive enthusiasts and drivers alike. As technology advances, we can expect to see
        further innovations that enhance the performance and efficiency of these revered powerhouses, ensuring their
        place
        in the automotive landscape for years to come.</p>
    </div>
  </div>

  <app-support></app-support>

  <div class="navigation-content">
    <div class="section">
      <div class="d-md-flex align-items-center justify-content-between">
        <div style="min-width: 50%">
          <h1>Where to next?</h1>
          <ul>
            <li><span routerLink="/home">Notes</span></li>
            <ul>
              <li class="not-link">
                <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                  <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                        vector-effect="non-scaling-stroke"></line>
                  <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                        vector-effect="non-scaling-stroke"></line>
                </svg>
                <span>Javascript</span></li>
              <ul>
                <li>
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26"
                       style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="26" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span routerLink="/js/why-js">Why Js?</span></li>
                <li class="here">&nbsp;&nbsp;&nbsp;You are here
                  <svg class="_1ovgwpu0" viewBox="0 0 24 24" width="18px" height="18px"><title>Arrow pointing
                    down</title>
                    <path
                      d="M12,23.36L2.94,15h5.56V1h7V15h5.56l-9.06,8.36Zm-3.94-6.36l3.94,3.64,3.94-3.64h-2.44V3h-3v14h-2.44Z"
                      vector-effect="non-scaling-stroke"></path>
                  </svg>
                </li>
                <li class="active-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26"
                       style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="26" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span routerLink="/js/v8engine">V8 Engine</span></li>
                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Simulations</span></li>
                <ul>
                  <li>
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26"
                         style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="26" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span routerLink="/js/wave">Wave Simulation</span></li>
                  <li>
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26"
                         style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span routerLink="/js/fluid">Fluid Simulation</span></li>
                </ul>
                <li>
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26"
                       style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span routerLink="/js/canvas">Canvas</span></li>
              </ul>
            </ul>
          </ul>
        </div>
        <div class="where-to-next-banner">
          <img src="../../../../../assets/images/navigate2.png" alt="banner">
          <img src="../../../../../assets/images/navigate1.png" alt="navigate" class="banner-image-supporter">
        </div>
      </div>
    </div>
  </div>

</div>
