@keyframes marqueeAnimation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

.main-canvas{
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #d6c8ab, #b9a06e);
  overflow: auto;
  overflow-x: hidden;

  .noise-layer{
    width: 100%;
    height: 1000px;
    background-image: url("../../../assets/images/noise.webp");

    .sec-1{
      width: 100%;

      #canvas-pro-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .sec-1-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 100%;

        h1{
          font-family: 'Ephesis', cursive;
          font-size: max(5vw, 40px);
        }

        .self-typing-element {
          font-family: 'Arial', sans-serif;
          font-size: 24px;
          border-right: 2px solid #1c1c1c;
          white-space: nowrap;
          overflow: hidden;
          margin: 0 0 20px 0;
          letter-spacing: 2px;
          text-align: right;
        }
      }

      .sec-1-banner{
        height: 300px;
        background-image: url("../../../assets/images/neural-net.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
      }

    }

    .latest-post-wrapper{
      background-color: #1c1c1c;
      width: 100%;
      height: auto;
      padding: 0 5vw!important;
      color: white;

      .marquee-wrapper{
        width: 100%;
        overflow-x: hidden;
        white-space: nowrap;
        position: relative;
        margin: 0!important;;

        .marquee {
          display: inline-block;
          animation: marqueeAnimation 20s linear infinite;
          width: 100%;
          text-align: center;
          padding: 3px 0;

          a{
            color: white;
            text-decoration: none;
          }

          &:hover{
            background-color: #b9a06e;
            cursor: pointer;

            a{
              color: #1c1c1c!important;
            }
          }
        }
      }

      a{
        color: white;
        text-decoration: none;
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
