<div class="page-main-canvas">
  <div class="page-noise-layer">
    <div class="page-noise-redundant-layer">
      <section class="sec-1">
        <div class="row">
          <div class="col-12 col-md-4 col-lg-3" id="canvas-pro-wrapper">
            <canvas id="canvas-pro"></canvas>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="sec-1-content">
              <h1>Kavindu Kokila Gayashan</h1>
              <div class="self-typing-element">
                I'm {{ currentText }}
              </div>
            </div>
          </div>
          <div class="col-12 col-md-2 col-lg-3">
            <div class="d-none d-md-block">
              <div class="sec-1-banner"></div>
            </div>
          </div>
        </div>
      </section>
      <div class="latest-post-wrapper">
        <div class="row">
          <div class="col-12 col-md-1" style="white-space: nowrap">
            Latest :
          </div>
          <div class="col-12 col-md-11">
            <div class="d-sm-flex align-items-center justify-content-between" style="width: 100%">
              <div class="d-none d-sm-block" style="width: 100%">
                <div class="d-flex marquee-wrapper" id="marqueeContainer">
                  <span class="marquee" routerLink="/js/v8engine"><pre>V8 Engine</pre><pre>Tended</pre></span>
                  <span class="marquee" routerLink="/js/canvas"><pre>Canvas</pre><pre>Tended</pre></span>
                  <span class="marquee" routerLink="/js/wave"><pre>Wave Simulation</pre><pre>Tended</pre></span>
                  <span class="marquee" routerLink="/python/geographic-analysis"><pre>Geographic Analysis</pre><pre>Tended</pre></span>
                </div>
              </div>

              <div class="d-block d-sm-none">
                <div class="marquee-wrapper">
                  <span class="marquee-sm" routerLink="/js/v8engine"><pre>V8 Engine</pre><pre>Tended</pre></span>
                  <span class="marquee-sm" routerLink="/js/canvas"><pre>Canvas</pre><pre>Tended</pre></span>
                  <span class="marquee-sm" routerLink="/js/wave"><pre>Wave Simulation</pre><pre>Tended</pre></span>
                  <span class="marquee-sm" routerLink="/python/geographic-analysis"><pre>Geographic Analysis</pre><pre>Tended</pre></span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <section class="sec-2">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 sec-2-item" routerLink="/js/canvas">
            <div class="item">
              <img src="./assets/images/js/canvas-thumb.png" alt="thumbnail">
              <div class="title">HTML Canvas</div>
              <div class="description">The HTML &lt;canvas&gt; element is a powerful tool that allows developers to create dynamic and interac..</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 sec-2-item" routerLink="/js/wave">
            <div class="item">
              <img src="./assets/images/js/wave-thumb.png" alt="thumbnail">
              <div class="title">Wave Simulation</div>
              <div class="description">Simulating waves with JavaScript provides a dynamic way to visualize and understand complex physical..</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 sec-2-item" routerLink="/python/geographic-analysis">
            <div class="item">
              <img src="./assets/images/python/geographic.png" alt="thumbnail">
              <div class="title">Geographic Data Analysis</div>
              <div class="description">Geographic data analysis is a dynamic field that goes beyond plotting maps. It involves extracting..</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 sec-2-item" routerLink="/css/css-vs-scss">
            <div class="item">
              <img src="./assets/images/css/css%20vs%20scss.png" alt="thumbnail">
              <div class="title">CSS vs SCSS</div>
              <div class="description">Cascading Style Sheets (CSS) have been the backbone of web styling for years, but as web development..</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 sec-2-item" routerLink="/js/fluid">
            <div class="item">
              <img src="./assets/images/js/fluid-thumb.png" alt="thumbnail">
              <div class="title">Fluid Simulation</div>
              <div class="description">Fluid simulation is a captivating realm of computational physics that enables us to replicate the dynamic
                behavior of..</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 sec-2-item" routerLink="/js/why-js">
            <div class="item">
              <img src="./assets/images/js/why-js-thumb.png" alt="thumbnail">
              <div class="title">Why JS?</div>
              <div class="description">JavaScript, born as a scripting language for web browsers, has evolved into a versatile powerhouse transcending
                its initial role..</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 sec-2-item" routerLink="/python/machine-learning">
            <div class="item">
              <img src="./assets/images/python/neural-brain.png" alt="thumbnail">
              <div class="title">Machine Learning</div>
              <div class="description">Machine learning, a captivating realm within artificial intelligence, empowers computers to discern..</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 sec-2-item" routerLink="/css/var">
            <div class="item">
              <img src="./assets/images/css/var.png" alt="thumbnail">
              <div class="title">CSS --var</div>
              <div class="description">CSS variables, officially known as Custom Properties and commonly referred to as <span
                class="realistic-marker-highlight">--var</span>, have revolutionized the..</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 sec-2-item" routerLink="/software/qgis">
            <div class="item">
              <img src="./assets/images/software/qgis-thumb.png" alt="thumbnail">
              <div class="title">QGIS</div>
              <div class="description">QGIS, or Quantum Geographic Information System, is an open-source platform that empowers users to analyze and
                visualize..</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 sec-2-item" routerLink="/js/v8engine">
            <div class="item">
              <img src="./assets/images/js/v8-thumb1.png" alt="thumbnail">
              <div class="title">V8 Engine</div>
              <div class="description">V8 engines, characterized by their V-shaped arrangement of eight cylinders, are engineering marvels..</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-block d-xl-none sec-2-item" routerLink="/software/jasp">
            <div class="item">
              <img src="./assets/images/software/jasp/jasp-thumb.png" alt="thumbnail">
              <div class="title">JASP</div>
              <div class="description">JASP, an acronym for Jeffreys’s Amazing Statistics Program, is a free and open-source statistical software
                designed to make statistical analysis..</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-block d-xl-none sec-2-item" routerLink="/python/data-analysis">
            <div class="item">
              <img src="./assets/images/python/data-analysis.png" alt="thumbnail">
              <div class="title">Data Analysis</div>
              <div class="description">Data analysis is the backbone of informed decision-making, and in today's data-driven world, the ability to
                extract meaningful..</div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
