<div class="main-canvas">
  <div class="noise-layer">
    <section class="sec-1">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3" id="canvas-pro-wrapper">
          <canvas id="canvas-pro"></canvas>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
          <div class="sec-1-content">
            <h1>Kavindu Kokila Gayashan</h1>
            <div class="self-typing-element">
              I'm {{ currentText }}
            </div>
          </div>
        </div>
        <div class="col-12 col-md-2 col-lg-3">
          <div class="d-none d-md-block">
            <div class="sec-1-banner"></div>
          </div>
        </div>
      </div>
    </section>
    <div class="latest-post-wrapper">
      <div class="row">
        <div class="col-12 col-md-1" style="white-space: nowrap">
          Latest :
        </div>
        <div class="col-12 col-md-11">
          <div class="d-sm-flex align-items-center justify-content-between" style="width: 100%">
            <div class="d-none d-sm-block" style="width: 100%">
              <div class="d-flex marquee-wrapper" id="marqueeContainer">
                <span class="marquee"><a href="#">link 1</a></span>
                <span class="marquee"><a href="#">link 2</a></span>
                <span class="marquee"><a href="#">link 3</a></span>
                <span class="marquee"><a href="#">link 4</a></span>
              </div>
            </div>

            <div class="d-block d-sm-none">
              <p><a href="#">link 1</a></p>
              <p><a href="#">link 2</a></p>
              <p><a href="#">link 3</a></p>
              <p><a href="#">link 4</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
