<div class="support-wrapper">
  <div class="container">
    <h1>Support Me</h1>
    <div class="d-flex align-items-center justify-content-start">
      <div class="urls">
        <ul>
          <li><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/kavicastelo">Follow</a></li>
          <li><i class="fa fa-facebook" aria-hidden="true"></i><a href="https://web.facebook.com/kavi.castelo/">Follow</a></li>
          <li><i class="fa fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/kavicastelo">Follow</a></li>
          <li><i class="fa fa-newspaper-o" aria-hidden="true"></i><a href="https://blogs.flexi-art.com/">Subscribe</a></li>
          <li><i class="fa fa-briefcase" aria-hidden="true"></i><a href="https://admin.flexi-art.com/">Direct Service</a></li>
        </ul>
      </div>
      <div class="image-wrapper">
        <img src="assets/images/support-img.png" alt="banner">
      </div>
    </div>
  </div>
</div>

