<div class="main-canvas">
  <div class="nav-bar">
    <div class="d-flex">
      <div class="name-box">
        KAVI CASTELO
      </div>
      <div class="title-box">
        NOTES
      </div>
      <div class="rss-box">
        <div class="d-flex align-items-center">
          <i class="fa fa-rss" aria-hidden="true"></i>
          <span>RSS</span>
        </div>
      </div>
      <div class="about-box">
        <div class="d-flex align-items-center">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          <span>ABOUT</span>
        </div>
      </div>
    </div>
  </div>
  <div class="out-line">
    <router-outlet></router-outlet>
  </div>
</div>
