<div class="note-title-wrapper-header">
  <i class="fa fa-chevron-left" aria-hidden="true"></i>
  <p><span routerLink="/home">Notes</span> / CSS / CSS --var</p>
</div>
<div class="container">
  <div class="note-content">
    <div class="banner">
      <img src="assets/images/css/var.png" alt="css --var">
    </div>
    <div id="Mastering CSS Flexbox:" class="section">
      <h1>Mastering CSS Flexbox: A Comprehensive Guide</h1>
      <p class="note-tags"><span><strong>Tended:</strong> Feb 2024</span> <span><strong>Status:</strong> Seed</span>
      </p>
    </div>

    
  </div>

  <app-support></app-support>

</div>
