<div class="note-title-wrapper-header">
  <i aria-hidden="true" class="fa fa-chevron-left"></i>
  <p><span routerLink="/home">Notes</span> / JS / Wave Simulation</p>
</div>
<div class="container">
  <div class="note-content">
    <div class="banner">
      <img alt="Wave Simulation" src="assets/images/js/wave.png">
    </div>
    <div class="section" id="JavaScript: A Swiss Army Knife..">
      <h1>
        JavaScript: A Swiss Army Knife for Web Development, Machine Learning, Games, Math, and Physics</h1>
      <p class="note-tags"><span><strong>Tended:</strong> Dec 2023</span> <span><strong>Status:</strong> Sprout</span>
      </p>
    </div>

    <div class="section" id="Introduction:">
      <h2>Introduction</h2>
      <p>JavaScript, born as a scripting language for web browsers, has evolved into a versatile powerhouse transcending
        its initial role. Today, it's not just a language confined to the web browser; it's a full-stack language that
        spans web development, machine learning, game development, and advanced mathematical and physics simulations. In
        this comprehensive exploration, we'll embark on a journey to uncover the myriad ways JavaScript can be wielded
        across diverse domains.</p>
    </div>

    <div class="section" id="1. Web Development with JavaScript">
      <h2>Web Development with JavaScript</h2>
      <h3>The Backbone of Web Interactivity</h3>
      <p>JavaScript is the backbone of modern web interactivity. With the advent of frameworks like React, Angular, and
        Vue.js, it has become the go-to language for building dynamic, responsive, and interactive user interfaces. </p>
      <p><strong>Example: React Component</strong></p>
    </div>

    <div class="section" id="2. Machine Learning and Deep..">
      <h2>Discrete Form of the Equation:</h2>
      <p>Discretizing the wave equation allows us to implement it numerically. The discrete form is given by:</p>
      <p ngNonBindable>
        \[
        \frac {{y_{j+1}^{m} -2y_j^m + y_{j-1}^{m}} } {{\Delta x^2}} - \frac {{1}} {{c^2}} \frac
        {{y_j^{m+1} -2y_j^m + y_j^{m-1}} } {{\Delta t^2}} - \gamma \frac {{y_j^{m+1} - y_j^{m-1}} } {{2 \Delta t}} - l^2
        \frac {{y_{j-2}^m -4y_{j-1}^m +6y_{j}^m -4y_{j+1}^m +y_{j+2}^m}} {{\Delta x^4}} = 0
        \]
      </p>
      <p>
        This equation represents the evolution of the wave at <span class="circle-sketch-highlight">each point <strong>\(j\)</strong></span>
        and <span class="circle-sketch-highlight">time step <strong>\(m\)</strong></span>.
      </p>
    </div>

    <div class="section" id="3. 2D Game Development with..">
      <h2>Converting from Canvas to String Coordinates:</h2>
      <p ngNonBindable>
        Since the string goes between 0 and 1 in "String Coordinates" \( (x_s, y_s) \), we can scale to the window
        "canvas coordinates" \( (x_c, y_c) \) as follows:
        \[
        x_c = C_w \cdot x_s
        \]
        \[
        y_c = C_w \cdot y_s + \frac {{C_h}} {{2}}
        \]
        where \( C_w \) and \( C_h \) are the width and height of the canvas in pixels.
      </p>
    </div>

    <div class="section" id="4. Advanced Mathematical and..">
      <h2>JavaScript Implementation:</h2>
      <p>Now, let's translate these mathematical concepts into JavaScript code:</p>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            Javascript
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <!--          <iframe #iframe type="text/javascript"></iframe>-->
        </div>
      </div>
    </div>

    <div class="section" id="Conclusion:">
      <h2>Conclusion:</h2>
      <p>Simulating damped waves with JavaScript allows for the exploration of intricate physical phenomena in a visual
        and interactive manner. By understanding the true wave equation and translating it into code, we can gain
        insights into the behavior of waves on a string. Experimentation and further customization of the code can lead
        to a deeper understanding and appreciation of wave dynamics.</p>
    </div>

    <div class="section" id="Reference:">
      <h2>Reference:</h2>
      <ul>
        <li><a href="https://en.wikipedia.org/wiki/Wave_equation">Wikipedia: Wave Equation</a></li>
        <li><a
          href="https://github.com/lukepolson/youtube_channel/tree/main/Javascript%20Simulations/js1">lukepolson</a>
        </li>
        <li><a href="https://github.com/kavicastelo/JS_Simulations/tree/wave_simulation">kavi castelo</a></li>
      </ul>
    </div>
  </div>

</div>
