<div class="note-title-wrapper-header">
  <i aria-hidden="true" class="fa fa-chevron-left"></i>
  <p><span routerLink="/home">Notes</span> / JS / Wave Simulation</p>
</div>
<div class="container">
  <div class="note-content">
    <div class="banner">
      <img alt="Wave Simulation" src="assets/images/js/wave.png">
    </div>
    <div class="section" id="JavaScript: A Swiss Army Knife..">
      <h1>
        JavaScript: A Swiss Army Knife for Web Development, Machine Learning, Games, Math, and Physics</h1>
      <p class="note-tags"><span><strong>Tended:</strong> Dec 2023</span> <span><strong>Status:</strong> Sprout</span>
      </p>
    </div>

    <div class="section" id="Introduction:">
      <h2>Introduction</h2>
      <p>JavaScript, born as a scripting language for web browsers, has evolved into a versatile powerhouse transcending
        its initial role. Today, it's not just a language confined to the web browser; it's a full-stack language that
        spans web development, machine learning, game development, and advanced mathematical and physics simulations. In
        this comprehensive exploration, we'll embark on a journey to uncover the myriad ways JavaScript can be wielded
        across diverse domains.</p>
    </div>

    <div class="section" id="1. Web Development with JavaScript">
      <h2>Web Development with JavaScript</h2>
      <h3>The Backbone of Web Interactivity</h3>
      <p>JavaScript is the backbone of modern web interactivity. With the advent of frameworks like React, Angular, and
        Vue.js, it has become the go-to language for building dynamic, responsive, and interactive user interfaces. </p>
      <p><strong>Example: React Component</strong></p>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            Jsx
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="keyword">import </span><span class="name">React </span>, &lcub;useState&rcub; <span class="keyword">from</span> <span class="dispaly">"react"</span>;<br><br>
          <span class="keyword">const </span><span class="name">Counter </span>= () => &lcub;<br>
          &nbsp;&nbsp;&nbsp;<span class="keyword">const </span><span class="variable">[count, setCount] = </span><span class="name">useState</span> (<span class="initializer">0</span>);<br><br>
          &nbsp;&nbsp;&nbsp;<span class="keyword">return </span>(<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&lt;div&gt;</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&lt;p>Count: &lcub;count&rcub;&lt;/p></span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&lt;button <span class="initializer">onClick</span> = &lcub;() => setCount(count + 1)}&gt;Increment&lt;/button&gt;</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&lt;/div&gt;</span><br>
          &nbsp;&nbsp;&nbsp;);<br>
          <span>&rcub;</span><br><br>
          <span class="keyword">export default </span><span class="name">Counter</span>;<br>
        </div>
      </div>
      <span class="name">Count: </span><span class="display">{{reactExampleResult}}</span><br>
      <button (click)="reactExample()" style="margin-bottom: 50px">Increment</button>

      <h3>Asynchronous Power with Node.js</h3>
      <p>Node.js, built on the V8 JavaScript runtime, extends JavaScript to the server-side. This asynchronous runtime
        enables scalable and high-performance server-side applications, making JavaScript an ideal choice for full-stack
        development.</p>
      <p><strong>Example: Simple Node.js Server</strong></p>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            Javascript
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="keyword">const </span>http = <span class="import">require</span>(<span class="display">'http'</span>);<br><br>
          <span class="keyword">const </span>server = http.<span class="name">createServer</span>((req, res) =&gt; &lcub;<br>
          &nbsp;&nbsp;&nbsp;res.<span class="name">writeHead</span>(<span class="initializer">200</span>, &lcub;<span class="display">'Content-Type'</span>:<span class="display">'text/plain'</span>&rcub;);<br>
          &nbsp;&nbsp;&nbsp;res.<span class="name">end</span>(<span class="display">'Hello World!\n'</span>);<br>
          <span>&rcub;);</span><br><br>

          <span class="keyword">const </span><span class="initializer">PORT </span>= <span class="Initializer">3000</span>;<br>
          server.<span class="name">listen</span>(<span class="initializer">PORT</span>, () =&gt; &lcub;<br>
          &nbsp;&nbsp;&nbsp;<span class="initializer">console</span>.<span class="name">log</span>(<span class="display">`Server running at http://localhost:$&lcub;PORT}/`</span>);<br>
        </div>
      </div>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <span class="variable">Console</span>
        </div>
        <div class="code-snippet-wrapper">
          <div class="d-flex align-items-center">
            <div><span> > </span><span>Server running at http://localhost:<span class="keyword">3000</span> &nbsp;</span></div>
            <div class="cursor-end-point"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="section" id="2. Machine Learning and Deep..">
      <h2>Machine Learning and Deep Learning in JavaScript</h2>
      <h3>TensorFlow.js for Browser-Based ML</h3>
      <p>TensorFlow.js brings machine learning capabilities to the browser, allowing developers to build and train
        models directly in JavaScript. It supports both machine learning and deep learning, enabling tasks like image
        classification, natural language processing, and more.</p>
      <p><strong>Example: Image Classification with MobileNet</strong></p>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            Html
          </div>
        </div>
        <div class="code-snippet-wrapper">
          &lt;script <span class="initializer">src</span>=<span class="display">"https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"</span>&gt;&lt;/script&gt;<br>
          &lt;script <span class="initializer">src</span>=<span class="display">"https://cdn.jsdelivr.net/npm/@tensorflow-models/mobilenet"</span>&gt;&lt;/script&gt;<br><br>
          &lt;script&gt;<br>
          &nbsp;&nbsp;&nbsp;<span class="keyword">async function </span><span class="name">classifyImage</span>()&lcub;<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">const </span>image = <span class="initializer">document</span>.<span class="name">getElementById</span>(<span class="display">'input-image'</span>);<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">const </span>model = <span class="keyword">await</span> mobilenet.<span class="name">load</span>();<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">const </span>predictions = <span class="keyword">await</span> model.<span class="name">classify</span>(image);<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="initializer">console</span>.<span class="name">log</span>(predictions);<br>
          &nbsp;&nbsp;&nbsp;<span>&rcub;</span><br>
          &lt;/script&gt;<br>
        </div>
      </div>

      <h3>Node.js and Machine Learning</h3>
      <p>On the server side, libraries like Brain.js and Synaptic facilitate machine learning tasks. Node.js becomes a
        powerful tool for running server-side machine learning models.</p>
      <p><strong>Example: Sentiment Analysis with Brain.js</strong></p>
      <div class="code-snippet">
        <div class="code-snippet-header">
          <div class="console">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="language">
            Javascript
          </div>
        </div>
        <div class="code-snippet-wrapper">
          <span class="keyword">const </span>brain = <span class="import">require</span>(<span class="display">'brain.js'</span>);<br><br>
          <span class="keyword">const </span>net = <span class="keyword">new</span> brain.<span class="name">NeuralNetwork</span>();<br>
          net.<span class="name">train</span>([&lcub; <span class="initializer">input</span>: <span class="display">'I feel great'</span>, <span class="initializer">output</span>: <span class="display">'positive'</span>&rcub;]);<br><br>

          <span class="keyword">const </span>output = net.<span class="name">run</span>(<span class="display">'I feel great'</span>);<br>
          <span class="initializer">console</span>.<span class="name">log</span>(output); <span class="comment">// Output: &lcub; positive: 0.9999982118606567 &rcub;</span><br>
        </div>
      </div>
    </div>

    <div class="section" id="3. 2D Game Development with..">
      <h2>2D Game Development with JavaScript</h2>
      <h3>The Canvas API for Graphics</h3>
      <p>JavaScript, coupled with the HTML5 Canvas API, empowers developers to create engaging 2D games directly in the
        browser. Libraries like Phaser.js provide game development frameworks to simplify the process.</p>
      <p><strong>Example: Phaser.js Game Initialization</strong></p>
      <!--      -->
    </div>

    <div class="section" id="4. Advanced Mathematical and..">
      <h2>Advanced Mathematical and Physics Simulations</h2>
      <h3>Numeric Computation with Math.js</h3>
      <p>For advanced mathematical computations, Math.js provides a comprehensive library. It supports everything from
        basic arithmetic to linear algebra, making it a valuable tool for simulations and mathematical modeling.</p>
      <p><strong>Example: Solving an Equation with Math.js</strong></p>
      <!--      -->

      <h3>Physics Simulations with p5.js</h3>
      <p>p5.js, a JavaScript library inspired by Processing, simplifies creative coding and physics simulations. It
        provides an abstraction over the HTML5 Canvas API, allowing developers to focus on the simulation's logic.</p>
      <p><strong>Example: Simple Particle System Simulation</strong></p>
      <!--      -->
    </div>

    <div class="section" id="Conclusion:">
      <h2>Conclusion: The Limitless Horizon of JavaScript</h2>
      <p>JavaScript, once confined to browsers, has evolved into a language with boundless capabilities. Its
        versatility, from web development to machine learning, game development, and advanced simulations, positions it
        as a Swiss Army knife for developers. With an expansive ecosystem of libraries and frameworks, JavaScript
        empowers developers to venture into diverse domains, fostering creativity and innovation in the ever-evolving
        landscape of technology. Whether you're building dynamic web applications, training machine learning models,
        crafting engaging games, or simulating complex physical phenomena, JavaScript stands as a dynamic language ready
        to tackle the challenges of the digital era.</p>
    </div>

    <div class="section" id="Reference:">
      <h2>Reference:</h2>
      <ul>
        <li><a href="https://en.wikipedia.org/wiki/Wave_equation">Wikipedia: Wave Equation</a></li>
        <li><a
          href="https://github.com/lukepolson/youtube_channel/tree/main/Javascript%20Simulations/js1">lukepolson</a>
        </li>
        <li><a href="https://github.com/kavicastelo/JS_Simulations/tree/wave_simulation">kavi castelo</a></li>
      </ul>
    </div>
  </div>

</div>
